{% extends 'base.html.twig' %}

{% block title %}
  {{ job.title }}
{% endblock %}

{% block body %}
  <h1 class="display-4">{{ job.title }}</h1>
  <p class="text-muted">{{ job.createdAt|date('d/m/Y') }}</p>
  <h4>{{ job.company }}</h4>
  <h5>{{ job.location }}</h5>
  <p>{{ job.description }}</p>
{% endblock %}
